
<form class="container mt-5" [formGroup]="itemUploadForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
        <div class="col-md-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Your Name" formControlName="Username">
                <label for="name">Username
                    <span style="color:red">*</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-3">
            <div class="form-floating">
                <input type="email" class="form-control" id="name" placeholder="Your Name" formControlName="Email">
                <label for="email">Email
                    <span style="color:red">*</span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Upload Item</button>
    </div>
</form>
