<!-- {
    "id": "0907c0f5-b54e-4d2f-953a-05551d98df88",
    "name": "Biryani",
    "price": 450,
    "description": "Biryani is famous for it's deligious",
    "category": "Desi Food",
    "images": []
  }, -->

<div class="card" style="width: 18rem;" *ngFor="let item of itemDetails; let i = index">
  <div [id]="'carousel' + i" class="carousel slide" data-ride="carousel">
    
    
    <div class="carousel-inner">
      <div 
        class="carousel-item" 
        *ngFor="let image of item.images; let j = index" 
        [ngClass]="{ 'active': j === 0 }">
        <img 
          class="d-block w-100" 
          [src]="image.filePath || 'https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg'" 
          [alt]="item.name + ' image ' + j"
          width="300"
          height="200"
          style="object-fit: cover;">
      </div>
    </div>

    
    <a class="carousel-control-prev" [attr.href]="'#carousel' + i" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" [attr.href]="'#carousel' + i" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">{{ item.description }}</p>
    <p class="card-text">Price: {{ item.price | currency }}</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>


<!-- <table class="table table-striped container">
  <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemDetails">
      <th scope="row">{{item.id}}</th>
      <td><img [src]="item.images[0]!.filePath" alt=""></td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td>{{item.category}}</td>
    </tr>
  </tbody>
</table> -->